* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {  
	min-height:100%;
	background-image:url('') rgba(52,52,52,0.3) fixed 100% 100%;
	background-size:cover;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-color: black;

}

h1 {
	color: white;
	text-align: center;
	font-family: 'Source Serif Pro', serif;
	padding-top: 10px;
	padding-bottom: 10px;
}



p {
	color: white;
	font-family: 'Source Serif Pro', serif;
}

.references {
	font-family: 'Source Serif Pro', serif;
	text-align: left;
	padding-top: 5rem;
	padding-bottom: 5rem;
	text-indent: 5%;
}

.container {
	padding: 20px 20px 20px 20px;
}

.arrow-down {
		display: block;
		margin: 0 auto;
		text-align: center;
	}