* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}



body {  
	min-height:100%;
	background:url(https://i.redd.it/sfahx09ivva11.png) rgba(52,52,52,0.3) fixed 100% 100%;
	background-size:cover;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	align-items: center;
}	

html {
  	font-family: Sans-Serif;
  	scroll-behavior: smooth;
  	overflow-x: hidden;
}

.arrow-down {
		text-align: center;
	}

/*SM Resolution*/
@media only screen and (max-width: 360px) {
	
	
	.ThirdImpactSlide {
		width: 100%;
	}
	body {  
		max-height:100%;
		background:url(https://i.redd.it/sfahx09ivva11.png) rgba(52,52,52,0.3) fixed 70% 80%;
		align-items: center;
	}

}


/*MD Resolution*/
@media only screen and (min-width: 361px) and (max-width: 768px) {
	
	body {  
		max-height:100%;
		background:url(https://i.redd.it/sfahx09ivva11.png) rgba(52,52,52,0.3) fixed 70% 80%;
		align-items: center;
	}
	
}


/*LG Resolution*/
@media only	screen and (min-width: 769px) {
	
}