* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
  font-family: 'Source Serif Pro', serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

nav {
	background: linear-gradient(#5f2a62, #a976c3);
	width: 100%;
}

footer {
	background: linear-gradient(#a0de59, #466b5a);
	height: 180px;
	width: 100%;
}

.BackToTopRow {
	padding: 1px;
	background-color: white;
}



hr	{
	color: white;
	border-color: white;
	width: 75%;	
}
 .text-container {
 	background-color: #fcedc0;
 	padding: none;
 	margin: 1rem 1rem;
 	border-radius: 15px 50px;
 }

.btn-warning {
	display: block;
	margin: 0 auto;
}

 .footer-text {
 	padding-top: 30px;
 }

 .text-light {
 	font-family: 'Source Serif Pro', serif;
 }

.jumbotron {
    padding: 2rem 2rem;
    border-radius: 15px 50px;
}

.jumbotron-container {
    padding: 2rem 2rem;
    border-radius: 15px 50px;
}

.carousel-inner {
	border-radius: 15px 50px;
}

.carousel {
	height: 80%;
	width: 80%;
	margin: 10% 10% 10% 10%;
	float: center;
}

.btn {
	margin: 20px 20px 20px 20px;

}

.synopsis > p {
	text-indent: 1%;
	padding: 15px 15px 15px 15px;
}


.LoreText {
	text-indent: 5%;
	padding-bottom: 5%;
	padding-top: 5%;
}

.NetflixTeaser {
	text-indent: 5%;
	padding-bottom: 5%;
	padding-top: 5%;
}

.NetflixDiv {
	color: black;
	width: 100%;
	border-color: black;
	margin-top: 50px;

}

.LoreCards {
	border-style: solid;
	border-radius: 15px 50px;
	border-width: 1px;
	border-color: grey;
	margin: 5px 5px 5px 5px;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: white;
}

.LoreImage {
	border-radius: 15px 50px;
	padding: 5px 5px 5px 5px;
}

.LoreRow {
	padding-top: 25px;
	padding-bottom: 25px;
}

.NFIcon {
	border-radius: 10%;
}

.EvaName {
	margin-bottom: 10%;
}


.CharacterGallery {
	display: block;
	margin: 0 auto;
}

.footcontainer > small {
	text-align: center;
}

.NetflixDisclaimer {
	margin: 0 auto;
}

h5 {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

h3 {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

blockquote {
	font-style: italic;
	padding-left: 5%;
	padding-right: 5%; 
	text-indent: 10%;
	margin: 20px 20px 20px 20px;
}

small {
	color: black;

}

.NFNGE {
	display: block;
	margin: 0 auto;
}

.DuoI {
	display: block;
	margin: 0 auto;
}

.gmap {
	display: block;
}

.gmaptext {
	display: block;
}

.CharacterDescription > small {
	float: right;
}

.carousel-inner > .carousel-item > img {
    margin: 0 auto;
    display: block;
 }

blockquote {
	text-align: justify;
}

/*LG Res PC*/
@media only	screen and (min-width: 769px) {

}

/*MD Res Tablet iPad*/
@media only screen and (min-width: 361px) and (max-width: 768px) {
	html {
		overflow-x: hidden;
	}
}	


/*SM Res Mobile S5*/
@media only screen and (max-width: 360px) {
	html {
		overflow-x: hidden;
	}
}
